<!DOCTYPE html>

<head>
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
<!-- Font-awesome icons to get access to the githib icon -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
</head>

<body>
    
    <div class="container-fluid text-center">
        
        <h1>Voting app</h1>
        
        <div class="jumbotron">
            
            <a href="/login" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> &nbsp; Sign in with Github</a>
            <button class="btn btn-info">Continue without signing in</button>
            <a href="/home/all" class="btn btn-primary">View all polls created</a>
            
        </div>
        
    </div>
    
    <footer>
        
        This web application built by <a href="https://github.com/CraigBanach" target="_blank">Craig Banach</a> for the <a href="http://www.freecodecamp.com" target="_blank">freecodecamp.com</a> bonfire <a href="https://www.freecodecamp.com/challenges/build-a-voting-app" target="_blank">Build a Voting app.</a>
        
    </footer>
    
</body>