<!DOCTYPE html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        
    <!-- Font-awesome icons to get access to the githib icon -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="poll.css">
        
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    
    <!-- Chart.js -->
    <script src="chart.js/dist/Chart.js"></script>
    
    <!-- random colour generator -->
    <script src="randomcolor/randomColor.js"></script>
  
    <!-- custom JS -->
    <script src="./poll.js"></script>
</head>

<body>
  <script>
    $(document).ready(function() {

      updatePage(<%- JSON.stringify(poll) %>);

    })
  </script>
  
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><button onclick="window.location.href='/home/create'" type="button" class="btn btn-primary navbar-btn">Create</button></li>

          <li><button onclick="window.location.href='/home'" type="button" class="btn btn-primary navbar-btn">Home</button></li>
          <li><button onclick="deletePoll()" type="button" class="btn btn-primary navbar-btn">Delete Poll</button></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-brand">
            <%= username %>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  

  <div id="main-container"  class="container-fluid">
    <div class="text-center title-holder">
          <h1 class="title-text">My Poll</h1>
    </div>
    <div class="row">
      <div class="col-sm-2">
        
      </div>
      <div class="col-sm-3">
        <h1  id="option-holder"  >
          
        </h1>
      </div>
      <div id="graph-holder" class="col-sm-5">
        <canvas id="myChart"></canvas>
      </div>
      <div class="col-sm-2">
        
      </div>
    </div>

    <div id="new-options" class="text-center">
      <button id="new-option" class="btn btn-default" onclick="newOption()">Add new option</button>
    </div>

  </div>
</body>